<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="myApp"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="normalize.css">
        <link rel="stylesheet" type="text/css" href="font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="facet.css">
        <script type="text/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="angular-sanitize.js"></script>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <script>
            var Bridge = new Object();
            Bridge.callMethod = function(method) {
                window.location = 'ios:' + method;
            }
            Bridge.log = function(msg) {
                this.callMethod('consoleLog:' + String(msg));
            }

            var myApp = angular.module('myApp',['ngSanitize']);
            myApp.controller('AppController', ['$scope','$sce', function($scope, $sce) {

                $scope.title = Facet.title;
                $scope.subtitle = Facet.subtitle;
                $scope.address = Facet.address;
                $scope.imageURL = Facet.imageURL;
                // $scope.content = Facet.content;
                $scope.hasCoordinates = Facet.hasCoordinates;
                
                var content = document.getElementById('content');
                
                if (content != undefined) {
                    content.innerHTML = Facet.content;
                }
                                               
                                
                $scope.viewMap = function() {
                    if ($scope.hasCoordinates) {
                       Bridge.callMethod('viewMap');
                    }
                }
            }]);
        </script>
    </head>
    <body ontouchstart="" ng-controller="AppController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">

            <div ng-show="imageURL != '' && imageURL" class="banner" style="background-image: url({{imageURL}})"></div>
            
            <div class="contain-x">
                <div class="spacer-md"></div>

                <h1 class="title no-select">{{title}}</h1>
                
                <div class="spacer-xs" ng-show="subtitle && subtitle != ''"></div>
                
                <p class="subtitle no-select" ng-show="subtitle && subtitle != ''">{{subtitle}}</p>
            </div><!-- /.contain-x -->
            
            <div class="spacer-lg"></div>

            <ul class="button-list">
                <li ng-class="{false:'no-select'}[hasCoordinates]" ng-show="address && address != ''" class="button-list-item" ng-click="viewMap()"><a ><span class="button-list-item-icon button-list-item-icon-left"><i class="fa fa-map-marker"></i></span> <span class="button-list-item-text">{{address}}</span><span ng-show="hasCoordinates" class="button-list-item-icon button-list-item-icon-right"><i class="fa fa-angle-right"></i></span></a></li>
            </ul><!-- /.table-buttons -->
            <div class="spacer-sm"></div>
            
            <div class="contain-x">
                <div class="content">
                    <div id="content"></div>
                </div><!-- /.content -->
            </div><!-- /.contain-x -->

        </div><!-- /.container -->

    </body>
</html>