body {
	font-family: Helvetica, arial, sans-serif;
    padding: 0 0 20px;
    margin: 0;
    -webkit-touch-callout: none;
    color: #333;
}

::selection {
  background: rgba(155, 89, 182,.4); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(155, 89, 182,.4); /* Gecko Browsers */
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

/*HELPERS*/
.spacer-xs {
	height: 5px;
	display: block;
}
.spacer-sm {
	height: 10px;
	display: block;
}
.spacer-md {
	height: 15px;
	display: block;
}
.spacer-lg {
	height: 25px;
	display: block;
}
.contain-x {
	padding: 0 10px;
}

/*STYLES*/
h1.title {
	font-family: 'HelveticaNeue', arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin:  0;
    padding: 0;
}
.content {
    font-size: .9em;
}
.banner {
	height: 170px;
	display: block;
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
    border-bottom: 1px solid #f1f1f1;
    background-color: #fafafa;
}

.subtitle {
	font-size: 11px;
	color: gray;
	text-align: center;
	padding: 0;
	margin: 0;
}

.button-list {
	margin: 0;
	padding: 0;
	border-width: 1px 0 1px 0;
	border-color: #f1f1f1;
	border-style: solid;
}
.button-list, .button-list * {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.button-list-item {
	font-size: 16px;
	display: block;
	border-bottom: 1px solid #f1f1f1;
}
.button-list-item:active:not(.no-select) a {
	background-color: #f1f1f1;
}
.button-list .button-list-item:last-child {
	border-width: 0;
}
.button-list-item a {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	padding: 15px 32px;
	display: block;
	text-decoration: none;
    color: #333;
}
.button-list-item a {
/*    background: rgba(52, 152, 219,1.0);*/
}
.button-list-item-icon {
	display: inline-block;
	position: absolute;
	top: 14px;
}
.button-list-item-icon-left {
	left: 15px;
}
.button-list-item-icon-right {
    color: #888;
	right: 15px;
}
.button-list-item a:visited {}